<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="headerContentLogin" class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <img th:src="@{/images/logo.png}" alt="">
            <span>
              Petology
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/nuestrosVets">Veterinarios </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/misMascotas">Mis Mascotas </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/"> Tienda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cita"> Citas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cerrarSesion">Cerrar Sesión</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
            <div class="quote_btn-container  d-flex justify-content-center">
              <a href="">
                Call: +51 990765291
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
</html>