<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::headContent"></head>

<body>
	<div class="hero_area">
		<header th:replace="fragments/headerLogin::headerContentLogin"></header>
		<section class="map_section">

			<div class="form_container">
				<div class="row">
					<div class="col-md-4 col-sm-8 offset-md-4">
						<form action="" id="registerMascota">
							<div class="text-center">
								<h3>
									Mi mascota
								</h3>
							</div>
							<div>
								<input type="text" placeholder="Nombre" class="pt-3" id="nombre">
							</div>
							<div>
								<input type="text" placeholder="Especie" id="especie">
							</div>
							<div>
								<input type="text" placeholder="Edad" id="edad">
							</div>
							<div class="d-flex justify-content-center">
								<button type="submit">
									REGISTRAR
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="getResultDiv" style="padding: 20px 20px 20px 20px" >
				<ul class="list-group" style="text-align: center">
				</ul>
			</div>
		</section>

		<footer th:replace="fragments/footer::footerContent"></footer>
	</div>
</body>
<script th:src="@{/js/mascota.js}"></script>

</html>